{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-dark text-light p-5 rounded">
            <h2 class="display-5 fw-bold mb-5">Login</h2>
            <form class="d-grid" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|safe }}
                <button class="btn btn-lg btn-primary mt-3" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}